h1 {
    background-color: rgb(236, 29, 243);
    color: rgb(20, 8, 182);
    text-align: center;
    border: 5px solid rgb(85, 85, 85);
    border-radius: 25px;
    padding: 10px;
    margin: 25px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 6, 209);
}

a {
    text-decoration: none;
}

a:link {
    color: crimson;
}

a:visited {
    color: blueviolet;
}

a:active {
    color: aqua;
}

a:hover {
    color: chocolate;
}